.A{
    width: 0px;height: 0px;
    border-top: 100px solid green;
    border-bottom: 100px solid blue;
    border-right: 100px solid red;
    border-left: 100px solid yellow;
}
.B{
    float: left;
    width: 0px;height: 0px;
    border-top: 100px solid lightblue;
    border-right: 100px solid rgb(6, 6, 111);
    border-left: 100px solid blue;
}